.button {
  height: 3rem;
  border-radius: 3rem;
  background: var(--white);
  color: var(--gray-900);
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      margin-right: 1rem;
    }

    &.closeIcon {
      margin-left: 1rem;
    }
  }

  &:hover {
    filter: brightness(0.8);
    transition: filter 0.2s;
  }
}
